@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

@media (max-width: 600px) {
  html {
    font-size: 12px; } }

@media (max-width: 1024px) {
  html {
    font-size: 14px; } }

@media (max-width: 1600px) {
  html {
    font-size: 16px; } }

.site .hamburger_checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

.site .hamburger_label {
  display: none; }

.site-header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/solaris-new.jpg") no-repeat;
  background-size: cover;
  text-shadow: 1px 3px 3px #1f1f1f;
  color: #fff;
  letter-spacing: 0.1em;
  padding: 1rem 0;
  background-position: 3% 97%;
  height: 450px;
  width: 100%; }
  .site-header .wrapper {
    display: flex;
    margin: 0 3rem;
    align-items: center;
    font-size: 20px;
    position: -webkit-sticky;
    position: sticky; }
    .site-header .wrapper .site-logo {
      align-items: center;
      display: flex;
      color: #fff;
      padding: 1em 0;
      text-decoration: none;
      letter-spacing: 0.1em;
      -webkit-animation: slideToRight 0.4s ease-in-out;
              animation: slideToRight 0.4s ease-in-out; }
      .site-header .wrapper .site-logo i {
        font-size: 30px;
        padding-right: 1rem; }
  .site-header section {
    display: block;
    text-align: center; }
    .site-header section h1 {
      font-size: 50px;
      padding-bottom: 0.3em;
      padding-top: 4rem; }
      @media screen and (max-width: 1024px) {
        .site-header section h1 {
          font-size: 44px; } }
      @media screen and (max-width: 768px) {
        .site-header section h1 {
          font-size: 38px; } }
      @media screen and (max-width: 640px) {
        .site-header section h1 {
          font-size: 32px; } }
      @media screen and (max-width: 480px) {
        .site-header section h1 {
          font-size: 28px; } }
    .site-header section p {
      font-size: 20px;
      width: 35%;
      margin: 0 auto;
      margin-bottom: 2.5rem; }
      @media screen and (max-width: 1024px) {
        .site-header section p {
          font-size: 18px;
          width: 40%; } }
      @media screen and (max-width: 768px) {
        .site-header section p {
          font-size: 18px;
          width: 55%;
          margin-bottom: 2rem; } }
      @media screen and (max-width: 640px) {
        .site-header section p {
          font-size: 16px;
          width: 70%;
          margin-bottom: 1.5rem; } }
      @media screen and (max-width: 480px) {
        .site-header section p {
          font-size: 14px;
          width: 80%; } }
    .site-header section a {
      color: white;
      background-color: #152f63;
      border-radius: 1.5rem;
      padding: 0.8rem 2.7rem;
      text-decoration: none;
      border: none;
      cursor: pointer;
      outline: none;
      font-weight: bold;
      margin-top: 0.8rem;
      margin-bottom: 2rem;
      transition: background-color 0.4s ease-in-out; }
      .site-header section a:hover {
        background-color: #6b6b6b; }
      @media screen and (max-width: 1024px) {
        .site-header section a {
          padding: 0.7rem 2.5rem;
          font-size: 16px; } }
      @media screen and (max-width: 768px) {
        .site-header section a {
          padding: 0.6rem 2.1rem;
          font-size: 14px; } }
      @media screen and (max-width: 640px) {
        .site-header section a {
          padding: 0.5rem 1.7rem;
          font-size: 12px; } }
      @media screen and (max-width: 480px) {
        .site-header section a {
          padding: 0.4rem 1.5rem; } }

.site-nav {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  align-items: center; }
  .site-nav ul {
    display: flex;
    margin: 0 auto;
    width: 100%; }
    .site-nav ul li {
      display: block;
      list-style-type: none;
      margin-right: 3.5rem;
      -webkit-animation: slideToRight 0.4s ease-in-out;
              animation: slideToRight 0.4s ease-in-out;
      padding: 0.5rem 0; }
      .site-nav ul li:nth-child(1) {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .site-nav ul li:nth-child(2) {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .site-nav ul li:nth-child(3) {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .site-nav ul li:nth-child(4) {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      .site-nav ul li:nth-child(5) {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s; }
      .site-nav ul li a {
        letter-spacing: 0.15em;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding-bottom: 0.5rem; }
        .site-nav ul li a:hover {
          border-bottom: 1px solid white; }
    .site-nav ul .selected a {
      border-bottom: 1px solid white; }

@media screen and (max-width: 1024px) {
  .site .wrapper .hamburger_label {
    display: block;
    margin-left: auto; }
    .site .wrapper .hamburger_label:hover {
      cursor: pointer; }
  .site .wrapper .site-nav {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: none; }
    .site .wrapper .site-nav ul {
      opacity: 0;
      display: flex;
      flex-direction: column; }
      .site .wrapper .site-nav ul li {
        opacity: 0;
        transition: opacity 0.15s ease-in;
        background: #fff;
        color: black;
        width: 100%;
        background: #152f63;
        text-align: center;
        margin-right: 0; }
        .site .wrapper .site-nav ul li a:hover {
          border: none; }
  .site .hamburger_checkbox:checked + .site-header .hamburger_label {
    margin-left: auto; }
  .site .hamburger_checkbox:checked + .site-header .site-nav {
    display: block;
    position: static;
    opacity: 1; }
    .site .hamburger_checkbox:checked + .site-header .site-nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 1;
      width: 100%;
      position: absolute;
      top: 4.5em;
      left: 0;
      right: 10em; }
      .site .hamburger_checkbox:checked + .site-header .site-nav ul li {
        margin: 0;
        text-align: center;
        padding: 0.7em 0;
        opacity: 1;
        width: 100%;
        background: #152f63;
        -webkit-animation: none;
                animation: none;
        /*&:nth-child(2) {transition-delay: 0.1s}
                        &:nth-child(3) {transition-delay: 0.2s}
                        &:nth-child(4) {transition-delay: 0.3s}
                        */ }
        .site .hamburger_checkbox:checked + .site-header .site-nav ul li:last-child {
          padding-bottom: 0.8em; }
        .site .hamburger_checkbox:checked + .site-header .site-nav ul li:last-child {
          margin-bottom: 1em; } }

.site-footer {
  background: #152f63;
  text-align: center;
  color: white;
  padding: 1em 0; }
  .site-footer a {
    color: white;
    text-decoration: none; }
  @media screen and (max-width: 1024px) {
    .site-footer {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    .site-footer {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    .site-footer {
      font-size: 12px; } }

@-webkit-keyframes slideToRight {
  from {
    opacity: 0;
    transform: translateX(-1em); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideToRight {
  from {
    opacity: 0;
    transform: translateX(-1em); }
  to {
    opacity: 1;
    transform: translateX(0); } }
