.site-main {
  color: #152f63;
  text-align: justify; }
  .site-main h2 {
    text-align: center;
    margin-top: 1rem; }
    .site-main h2:after {
      content: '';
      width: 100px;
      height: 2px;
      background-color: #152f63;
      display: block;
      margin: 1rem auto; }
  .site-main section {
    margin: 1rem auto;
    width: 90%;
    padding-bottom: 2rem;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .site-main section li {
      list-style: none; }
    .site-main section .social-icons {
      display: flex;
      justify-content: center;
      align-items: center; }
    .site-main section .first-part {
      padding-right: 1.5rem; }
      .site-main section .first-part li {
        padding: 0.3rem; }
      .site-main section .first-part i {
        width: 30px; }
    .site-main section .second-part {
      padding-left: 1.5rem; }
      .site-main section .second-part h4 {
        padding-bottom: 0.5rem; }
      .site-main section .second-part li {
        flex: 0 0 20%; }
        .site-main section .second-part li a {
          color: #152f63; }
          .site-main section .second-part li a:hover {
            color: #6b6b6b; }
