.site-main {
  color: var(--color-darkblue);
  text-align: justify; }
  .site-main h2 {
    text-align: center;
    margin-top: 1rem; }
    .site-main h2:after {
      content: '';
      height: 2px;
      background-color: var(--color-darkblue);
      display: block;
      margin: 1rem auto;
      -webkit-animation: changehrwidth 2s ease-out;
              animation: changehrwidth 2s ease-out;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
  .site-main section {
    margin: 1rem auto;
    width: 90%;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .site-main section li {
      list-style: none; }
    .site-main section .social-icons {
      display: flex;
      justify-content: center;
      align-items: center; }
    .site-main section .first-part {
      padding-right: 1.5rem; }
      .site-main section .first-part li {
        padding: 0.3rem; }
      .site-main section .first-part i {
        width: 30px; }
    .site-main section .second-part {
      padding-left: 1.5rem; }
      .site-main section .second-part h4 {
        padding-bottom: 0.5rem; }
      .site-main section .second-part li {
        flex: 0 0 15%; }
        .site-main section .second-part li a {
          color: var(--color-darkblue); }
          .site-main section .second-part li a:hover {
            color: var(--color-grey); }
    @media (max-width: 1024px) {
      .site-main section {
        font-size: var(--font-size-larger); } }
    @media (max-width: 768px) {
      .site-main section {
        font-size: var(--font-size-default); }
        .site-main section .first-part {
          width: 260px;
          padding-right: 0; } }
    @media (max-width: 480px) {
      .site-main section {
        display: block;
        font-size: var(--font-size-smaller);
        padding-bottom: 0; }
        .site-main section .first-part {
          width: 100%;
          margin: 0 auto;
          padding-right: 0; }
        .site-main section h4 {
          text-align: center;
          padding-top: 1rem; }
        .site-main section .social-icons {
          padding: 0;
          width: 200px;
          margin: 0 auto; }
        .site-main section .second-part {
          padding-left: 0; }
          .site-main section .second-part li {
            flex-basis: 10%; } }
  .site-main .map {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem; }
    @media (max-width: 768px) {
      .site-main .map iframe {
        width: 90%; } }
