.site-main {
  color: var(--color-darkblue);
  max-width: 70em;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .site-main {
      max-width: 80em;
      margin: 0 3.5rem; } }
  @media (max-width: 768px) {
    .site-main {
      margin: 0; } }
  .site-main h2 {
    text-align: center; }
    .site-main h2:after {
      content: '';
      width: 100px;
      height: 2px;
      background-color: var(--color-darkblue);
      display: block;
      margin: 1rem auto; }
  .site-main section {
    border-bottom: 1px solid #bdbdbd;
    margin: 1rem auto;
    padding-bottom: 2rem; }
    @media (max-width: 1024px) {
      .site-main section {
        font-size: var(--font-size-smaller);
        padding-bottom: 1.5rem; } }
    @media (max-width: 768px) {
      .site-main section {
        font-size: var(--font-size-supersmall);
        padding-bottom: 1.2rem;
        width: 90%; } }
    @media (max-width: 480px) {
      .site-main section {
        font-size: 11px;
        padding-bottom: 0.7rem; } }
    .site-main section:last-of-type {
      border: none; }
    .site-main section p {
      padding: 0.5rem; }
      @media (max-width: 768px) {
        .site-main section p {
          padding: 0.3rem; } }
      @media (max-width: 480px) {
        .site-main section p {
          padding: 0.2rem; } }
    .site-main section .left {
      float: left;
      margin: 2em; }
      @media (max-width: 1024px) {
        .site-main section .left {
          margin: 1em; } }
      @media (max-width: 768px) {
        .site-main section .left {
          margin: 0.6rem; } }
      @media (max-width: 480px) {
        .site-main section .left {
          margin: 0.5rem; } }
    .site-main section .right {
      float: right;
      margin: 2em; }
      @media (max-width: 1024px) {
        .site-main section .right {
          margin: 1em; } }
      @media (max-width: 768px) {
        .site-main section .right {
          margin: 0.7rem; } }
      @media (max-width: 480px) {
        .site-main section .right {
          margin: 0.5rem; } }
    @media (max-width: 768px) {
      .site-main section img {
        width: 150px; } }
    @media (max-width: 480px) {
      .site-main section img {
        width: 100px; } }
  .site-main .metro img {
    width: 200px; }
    @media (max-width: 768px) {
      .site-main .metro img {
        width: 150px; } }
    @media (max-width: 480px) {
      .site-main .metro img {
        width: 100px; } }
