.site-main {
  color: #152f63;
  text-align: justify; }
  .site-main h2 {
    text-align: center; }
    .site-main h2:after {
      content: '';
      width: 100px;
      height: 2px;
      background-color: #152f63;
      display: block;
      margin: 1rem auto; }
  .site-main section {
    border-bottom: 1px solid #bdbdbd;
    margin: 1rem auto;
    width: 90%;
    padding-bottom: 2rem;
    font-size: 15px; }
    .site-main section:last-of-type {
      border: none; }
    .site-main section p {
      padding: 0.5rem; }
    .site-main section .left {
      float: left;
      margin: 0.5rem 1rem 0.5rem 0.5rem; }
    .site-main section .right {
      float: right;
      margin: 0.5rem 0.5rem 0.5rem 1rem; }
    .site-main section img {
      box-shadow: 0 0 1em #152f63; }
  .site-main .metro img {
    width: 300px; }
