.site-main .news-section {
  color: #152f63;
  padding-top: 1rem; }
  .site-main .news-section:after {
    content: '';
    width: 700px;
    height: 1px;
    background-color: #bdbdbd;
    display: block;
    margin: 1rem auto; }
  .site-main .news-section h2 {
    text-align: center; }
    .site-main .news-section h2:after {
      content: '';
      width: 100px;
      height: 2px;
      background-color: #152f63;
      display: block;
      margin: 1rem auto; }
  .site-main .news-section .news {
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 768px) {
      .site-main .news-section .news {
        flex-direction: column; } }
    .site-main .news-section .news li {
      flex: 0 0 30%;
      padding-bottom: 2rem;
      list-style: none; }
      @media screen and (max-width: 768px) {
        .site-main .news-section .news li {
          border-bottom: 1px solid #bdbdbd;
          margin: 0.2rem auto;
          width: 80%;
          padding-bottom: 0.5rem;
          text-align: center; } }
  @media screen and (max-width: 768px) and (max-width: 1024px) {
    .site-main .news-section .news li h3 {
      font-size: 16px; } }
  @media screen and (max-width: 768px) and (max-width: 768px) {
    .site-main .news-section .news li h3 {
      font-size: 15px; } }
      @media screen and (max-width: 768px) {
          .site-main .news-section .news li:last-of-type {
            border: none; } }
      .site-main .news-section .news li .date {
        color: grey;
        padding: 0.4rem 0; }
        @media screen and (max-width: 1024px) {
          .site-main .news-section .news li .date {
            font-size: 12px;
            padding: 0.3rem 0; } }
        @media screen and (max-width: 768px) {
          .site-main .news-section .news li .date {
            font-size: 10px;
            padding: 0.2rem 0; } }
      @media screen and (max-width: 1024px) {
        .site-main .news-section .news li .news-description {
          font-size: 14px; } }
      @media screen and (max-width: 768px) {
        .site-main .news-section .news li .news-description {
          font-size: 12px; } }
  .site-main .news-section .action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem; }
    @media screen and (max-width: 1024px) {
      .site-main .news-section .action {
        font-size: 14px; } }
    @media screen and (max-width: 768px) {
      .site-main .news-section .action {
        font-size: 12px; } }
    .site-main .news-section .action a {
      text-decoration: none;
      cursor: pointer;
      color: #152f63; }
      .site-main .news-section .action a i {
        padding-left: 0.5rem; }
      .site-main .news-section .action a:hover {
        text-decoration: underline; }

.site-main .picofthemonth-section h2 {
  color: #152f63;
  text-align: center; }

.site-main .picofthemonth-section .container {
  display: block;
  margin: 1.5rem auto;
  position: relative;
  width: 900px; }
  @media screen and (max-width: 1024px) {
    .site-main .picofthemonth-section .container {
      width: 600px; } }
  @media screen and (max-width: 768px) {
    .site-main .picofthemonth-section .container {
      width: 400px; } }
  @media screen and (max-width: 640px) {
    .site-main .picofthemonth-section .container {
      width: 300px; } }
  @media screen and (max-width: 480px) {
    .site-main .picofthemonth-section .container {
      width: 200px; } }
  .site-main .picofthemonth-section .container img {
    display: block;
    margin: 1rem auto;
    height: auto;
    width: 900px; }
    @media screen and (max-width: 1024px) {
      .site-main .picofthemonth-section .container img {
        width: 600px; } }
    @media screen and (max-width: 768px) {
      .site-main .picofthemonth-section .container img {
        width: 400px; } }
    @media screen and (max-width: 640px) {
      .site-main .picofthemonth-section .container img {
        width: 300px; } }
    @media screen and (max-width: 480px) {
      .site-main .picofthemonth-section .container img {
        width: 200px; } }
  .site-main .picofthemonth-section .container .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 0;
    height: 15%;
    transition: width 0.5s ease-in; }
    @media screen and (max-width: 1024px) {
      .site-main .picofthemonth-section .container .overlay {
        height: 25%; } }
    @media screen and (max-width: 768px) {
      .site-main .picofthemonth-section .container .overlay {
        height: 35%; } }
    @media screen and (max-width: 640px) {
      .site-main .picofthemonth-section .container .overlay {
        height: 40%; } }
    @media screen and (max-width: 480px) {
      .site-main .picofthemonth-section .container .overlay {
        height: 45%; } }
    .site-main .picofthemonth-section .container .overlay .text {
      text-align: center;
      opacity: 0;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media screen and (max-width: 1024px) {
        .site-main .picofthemonth-section .container .overlay .text {
          font-size: 12px; } }
      @media screen and (max-width: 768px) {
        .site-main .picofthemonth-section .container .overlay .text {
          font-size: 11px; } }
      @media screen and (max-width: 640px) {
        .site-main .picofthemonth-section .container .overlay .text {
          font-size: 10px; } }
      @media screen and (max-width: 480px) {
        .site-main .picofthemonth-section .container .overlay .text {
          font-size: 9px; } }
  .site-main .picofthemonth-section .container:hover .overlay {
    width: 100%; }
  .site-main .picofthemonth-section .container:hover .text {
    opacity: 1; }

.site-main .newinsite-section {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  background: #3258a5; }
  .site-main .newinsite-section h2 {
    padding-bottom: 1rem; }
  .site-main .newinsite-section ul {
    display: block;
    width: 350px;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .site-main .newinsite-section ul {
        width: 300px; } }
    @media screen and (max-width: 480px) {
      .site-main .newinsite-section ul {
        width: 250px; } }
    @media screen and (max-width: 320px) {
      .site-main .newinsite-section ul {
        width: 200px; } }
    .site-main .newinsite-section ul li {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0.3em; }
      @media screen and (max-width: 1024px) {
        .site-main .newinsite-section ul li {
          font-size: 16px; } }
      @media screen and (max-width: 768px) {
        .site-main .newinsite-section ul li {
          font-size: 14px; } }
      @media screen and (max-width: 480px) {
        .site-main .newinsite-section ul li {
          font-size: 12px; } }
      .site-main .newinsite-section ul li:before {
        font-family: 'Font Awesome 5 Free';
        content: '\f00c';
        display: block;
        font-weight: 900;
        color: #fff;
        margin-right: 1em; }

.site-main .subscribe-section {
  text-align: center;
  background: #152f63;
  color: #fff;
  padding-top: 2.5rem;
  padding-bottom: 0; }
  .site-main .subscribe-section h2:after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 1rem auto; }
  .site-main .subscribe-section p {
    margin: 0 auto; }
    @media screen and (max-width: 1024px) {
      .site-main .subscribe-section p {
        font-size: 16px;
        width: 90%;
        padding-bottom: 1rem; } }
    @media screen and (max-width: 768px) {
      .site-main .subscribe-section p {
        font-size: 14px; } }
    @media screen and (max-width: 480px) {
      .site-main .subscribe-section p {
        font-size: 12px; } }
  .site-main .subscribe-section input[type="email"] {
    margin-bottom: 0.5rem;
    margin-right: 0.3rem;
    border: none;
    border-radius: 0.2em;
    padding: 0.8rem 9rem 0.8rem 0.7rem;
    outline: none;
    background-color: #fff;
    color: #215AA0; }
    @media screen and (max-width: 1024px) {
      .site-main .subscribe-section input[type="email"] {
        padding: 0.6rem 6rem 0.6rem 0.6rem; } }
    @media screen and (max-width: 768px) {
      .site-main .subscribe-section input[type="email"] {
        padding: 0.5rem 3rem 0.5rem 0.5rem; } }
    @media screen and (max-width: 480px) {
      .site-main .subscribe-section input[type="email"] {
        padding: 0.3rem 1rem 0.3rem 0.3rem;
        margin-bottom: 0; } }
  .site-main .subscribe-section input[type="submit"] {
    background-color: #fff;
    color: #215AA0;
    border-radius: 0.2em;
    padding: 0.8rem 2.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out; }
    @media screen and (max-width: 1024px) {
      .site-main .subscribe-section input[type="submit"] {
        padding: 0.6rem 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1.8rem; } }
    @media screen and (max-width: 768px) {
      .site-main .subscribe-section input[type="submit"] {
        padding: 0.55rem 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1.8rem;
        font-size: 12px; } }
    @media screen and (max-width: 480px) {
      .site-main .subscribe-section input[type="submit"] {
        padding: 0.35rem 0.8rem; } }
    .site-main .subscribe-section input[type="submit"]:hover {
      background-color: #6b6b6b;
      color: #fff; }
