.site-main .news-section {
  color: var(--color-darkblue);
  padding-top: 1rem; }
  .site-main .news-section:after {
    content: '';
    width: 80%;
    height: 1px;
    background-color: #bdbdbd;
    display: block;
    margin: 1rem auto; }
  .site-main .news-section h2 {
    text-align: center; }
    .site-main .news-section h2:after {
      content: '';
      height: 2px;
      background-color: var(--color-darkblue);
      display: block;
      margin: 1rem auto;
      -webkit-animation: changehrwidth 2s ease-out;
              animation: changehrwidth 2s ease-out;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
  .site-main .news-section .news {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 768px) {
      .site-main .news-section .news {
        flex-direction: column; } }
    .site-main .news-section .news li {
      flex: 0 0 30%;
      padding-bottom: 2rem;
      list-style: none; }
      @media (max-width: 768px) {
        .site-main .news-section .news li {
          border-bottom: 1px solid #bdbdbd;
          margin: 0.2rem auto;
          width: 80%;
          padding-bottom: 0.5rem;
          text-align: center; } }
  @media (max-width: 768px) and (max-width: 1024px) {
    .site-main .news-section .news li h3 {
      font-size: var(--font-size-default); } }
  @media (max-width: 768px) and (max-width: 768px) {
    .site-main .news-section .news li h3 {
      font-size: 15px; } }
      @media (max-width: 768px) {
          .site-main .news-section .news li:last-of-type {
            border: none; } }
      .site-main .news-section .news li .date {
        color: grey;
        padding: 0.4rem 0;
        font-style: italic; }
        @media (max-width: 1024px) {
          .site-main .news-section .news li .date {
            font-size: var(--font-size-supersmall);
            padding: 0.3rem 0; } }
        @media (max-width: 768px) {
          .site-main .news-section .news li .date {
            font-size: 10px;
            padding: 0.2rem 0; } }
      @media (max-width: 1024px) {
        .site-main .news-section .news li .news-description {
          font-size: var(--font-size-smaller); } }
      @media (max-width: 768px) {
        .site-main .news-section .news li .news-description {
          font-size: var(--font-size-supersmall); } }
  .site-main .news-section .action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem; }
    @media (max-width: 1024px) {
      .site-main .news-section .action {
        font-size: var(--font-size-smaller); } }
    @media (max-width: 768px) {
      .site-main .news-section .action {
        font-size: var(--font-size-supersmall); } }
    .site-main .news-section .action a {
      text-decoration: none;
      cursor: pointer;
      color: var(--color-darkblue); }
      .site-main .news-section .action a i {
        padding-left: 0.5rem; }
      .site-main .news-section .action a:hover {
        text-decoration: underline; }

.site-main .picofthemonth-section h2 {
  color: var(--color-darkblue);
  text-align: center; }

.site-main .picofthemonth-section .container {
  display: block;
  margin: 1.5rem auto;
  position: relative;
  width: 900px; }
  @media (max-width: 1024px) {
    .site-main .picofthemonth-section .container {
      width: 600px; } }
  @media (max-width: 768px) {
    .site-main .picofthemonth-section .container {
      width: 400px; } }
  @media (max-width: 640px) {
    .site-main .picofthemonth-section .container {
      width: 300px; } }
  .site-main .picofthemonth-section .container img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 900px;
    outline: var(--color-darkblue) 8px solid;
    cursor: pointer; }
    @media (max-width: 1024px) {
      .site-main .picofthemonth-section .container img {
        width: 600px; } }
    @media (max-width: 768px) {
      .site-main .picofthemonth-section .container img {
        width: 400px; } }
    @media (max-width: 640px) {
      .site-main .picofthemonth-section .container img {
        width: 300px; } }
  .site-main .picofthemonth-section .container .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(2, 48, 97, 0.8);
    width: 100%;
    height: 0px;
    transition: height 0.2s ease-in;
    cursor: pointer; }
    .site-main .picofthemonth-section .container .overlay .text {
      text-align: center;
      opacity: 0;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold; }
      @media (max-width: 1024px) {
        .site-main .picofthemonth-section .container .overlay .text {
          font-size: var(--font-size-supersmall); } }
      @media (max-width: 768px) {
        .site-main .picofthemonth-section .container .overlay .text {
          font-size: 11px; } }
      @media (max-width: 640px) {
        .site-main .picofthemonth-section .container .overlay .text {
          font-size: 10px; } }
  @media (min-width: 1025px) and (max-width: 1799px) {
    .site-main .picofthemonth-section .container:hover .overlay {
      height: 25%; } }
  @media (max-width: 1024px) {
    .site-main .picofthemonth-section .container:hover .overlay {
      height: 30%; } }
  @media (max-width: 768px) {
    .site-main .picofthemonth-section .container:hover .overlay {
      height: 35%; } }
  @media (max-width: 640px) {
    .site-main .picofthemonth-section .container:hover .overlay {
      height: 40%; } }
  @media (max-width: 480px) {
    .site-main .picofthemonth-section .container:hover .overlay {
      height: 45%; } }
  .site-main .picofthemonth-section .container:hover .text {
    opacity: 1; }

.site-main .newinsite-section {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  background: #3258a5; }
  .site-main .newinsite-section p:nth-of-type(2) {
    width: 80%;
    margin: 0 auto;
    padding-top: 0.5em; }
  .site-main .newinsite-section h3 {
    padding-bottom: 0.4em; }
  .site-main .newinsite-section .last-update-date {
    font-style: italic;
    opacity: 0.5;
    font-size: 14px;
    padding-bottom: 0.4em; }
  .site-main .newinsite-section ul {
    display: inline-block;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .site-main .newinsite-section ul {
        width: 300px; } }
    @media (max-width: 480px) {
      .site-main .newinsite-section ul {
        width: 250px; } }
    @media (max-width: 320px) {
      .site-main .newinsite-section ul {
        width: 200px; } }
    .site-main .newinsite-section ul:after {
      content: '';
      height: 2px;
      background-color: #fff;
      display: block;
      margin: 2rem auto;
      -webkit-animation: changehrwidth 2s ease-out;
              animation: changehrwidth 2s ease-out;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
    .site-main .newinsite-section ul li {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0.3em; }
      @media (max-width: 1024px) {
        .site-main .newinsite-section ul li {
          font-size: var(--font-size-default); } }
      @media (max-width: 768px) {
        .site-main .newinsite-section ul li {
          font-size: var(--font-size-smaller); } }
      @media (max-width: 480px) {
        .site-main .newinsite-section ul li {
          font-size: var(--font-size-supersmall); } }
      .site-main .newinsite-section ul li:before {
        font-family: 'Font Awesome 5 Free';
        content: '\f00c';
        display: block;
        font-weight: 900;
        margin-right: 1em; }

.site-main .subscribe-section {
  text-align: center;
  background: var(--color-darkblue);
  color: #fff;
  padding-top: 2.5rem;
  padding-bottom: 0; }
  .site-main .subscribe-section h2 {
    padding-bottom: 1.5rem; }
  .site-main .subscribe-section p {
    margin: 0 auto; }
    @media (max-width: 1024px) {
      .site-main .subscribe-section p {
        font-size: var(--font-size-default);
        width: 90%;
        padding-bottom: 1rem; } }
    @media (max-width: 768px) {
      .site-main .subscribe-section p {
        font-size: var(--font-size-smaller); } }
    @media (max-width: 480px) {
      .site-main .subscribe-section p {
        font-size: var(--font-size-supersmall); } }
  .site-main .subscribe-section input[type="email"] {
    margin-bottom: 0.5rem;
    margin-right: 0.3rem;
    border: none;
    border-radius: 0.2em;
    padding: 0.8rem 9rem 0.8rem 0.7rem;
    outline: none;
    background-color: #fff;
    color: #215AA0; }
    @media (max-width: 1024px) {
      .site-main .subscribe-section input[type="email"] {
        padding: 0.6rem 6rem 0.6rem 0.6rem; } }
    @media (max-width: 768px) {
      .site-main .subscribe-section input[type="email"] {
        padding: 0.5rem 3rem 0.5rem 0.5rem; } }
    @media (max-width: 480px) {
      .site-main .subscribe-section input[type="email"] {
        padding: 0.3rem 1rem 0.3rem 0.3rem;
        margin-bottom: 0; } }
  .site-main .subscribe-section input[type="submit"] {
    background-color: #fff;
    color: #215AA0;
    border-radius: 0.2em;
    padding: 0.8rem 2.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out; }
    @media (max-width: 1024px) {
      .site-main .subscribe-section input[type="submit"] {
        padding: 0.6rem 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1.8rem; } }
    @media (max-width: 768px) {
      .site-main .subscribe-section input[type="submit"] {
        padding: 0.55rem 2.5rem;
        font-size: var(--font-size-supersmall); } }
    @media (max-width: 480px) {
      .site-main .subscribe-section input[type="submit"] {
        padding: 0.35rem 0.8rem; } }
    .site-main .subscribe-section input[type="submit"]:hover {
      background-color: var(--color-grey);
      color: #fff; }
