.site-main {
  color: #152f63;
  text-align: center;
  margin: 1rem 0; }
  .site-main h2 {
    text-align: center; }
    .site-main h2:after {
      content: '';
      width: 100px;
      height: 2px;
      background-color: #152f63;
      display: block;
      margin: 1rem auto; }
  .site-main li {
    border-bottom: 1px solid #bdbdbd;
    list-style: none;
    margin: 1rem auto;
    width: 80%;
    padding-bottom: 1rem; }
    .site-main li:last-of-type {
      border: none; }
    .site-main li .date {
      color: grey;
      padding: 0.4rem 0; }
