.site-main {
  color: var(--color-darkblue);
  text-align: center;
  margin: 1rem 0; }
  .site-main h2 {
    text-align: center; }
    .site-main h2:after {
      content: '';
      height: 2px;
      background-color: var(--color-darkblue);
      display: block;
      margin: 1rem auto;
      -webkit-animation: changehrwidth 2s ease-out;
              animation: changehrwidth 2s ease-out;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
  .site-main li {
    border-bottom: 1px solid #bdbdbd;
    list-style: none;
    margin: 1rem auto;
    width: 80%;
    padding-bottom: 1rem; }
    @media (max-width: 1024px) {
      .site-main li h3 {
        font-size: var(--font-size-default); } }
    @media (max-width: 768px) {
      .site-main li h3 {
        font-size: 15px; } }
    .site-main li:last-of-type {
      border: none; }
    .site-main li .date {
      color: grey;
      padding: 0.4rem 0; }
      @media (max-width: 1024px) {
        .site-main li .date {
          font-size: var(--font-size-supersmall);
          padding: 0.3rem 0; } }
      @media (max-width: 768px) {
        .site-main li .date {
          font-size: 10px;
          padding: 0.2rem 0; } }
    @media (max-width: 1024px) {
      .site-main li .news-description {
        font-size: var(--font-size-smaller); } }
    @media (max-width: 768px) {
      .site-main li .news-description {
        font-size: var(--font-size-supersmall); } }
