.site-main {
  margin: 1rem;
  color: var(--color-darkblue); }
  .site-main h2 {
    text-align: center; }
    .site-main h2:after {
      content: '';
      width: 100px;
      height: 2px;
      background-color: var(--color-darkblue);
      display: block;
      margin: 1rem auto; }
  .site-main .vehicle-type {
    text-align: center;
    padding: 1.5rem; }
  .site-main ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2em;
    grid-auto-flow: dense;
    justify-items: center;
    position: relative; }
    @media (max-width: 1024px) {
      .site-main ul {
        grid-template-columns: repeat(9, 1fr); } }
    @media (max-width: 768px) {
      .site-main ul {
        grid-template-columns: repeat(8, 1fr); } }
    .site-main ul li {
      list-style: none;
      outline: 4px solid var(--color-darkblue);
      grid-column: span 3;
      display: flex;
      box-shadow: 0 0 0.6em 0.3em var(--color-darkblue); }
      @media (max-width: 1024px) {
        .site-main ul li {
          grid-column: span 3; } }
      @media (max-width: 768px) {
        .site-main ul li {
          grid-column: span 4; } }
      @media (max-width: 640px) {
        .site-main ul li {
          grid-column: span 8; } }
      .site-main ul li:hover .img-description {
        opacity: 1; }
      .site-main ul li input {
        display: none; }
      .site-main ul li label {
        overflow: hidden;
        display: flex;
        background: #001235;
        position: relative;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        cursor: pointer; }
        @media (max-width: 768px) {
          .site-main ul li label {
            pointer-events: none; } }
        .site-main ul li label img {
          display: block;
          height: auto;
          -o-object-fit: cover;
             object-fit: cover;
          width: 90%;
          height: auto; }
        .site-main ul li label .img-description {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 10px;
          background-color: rgba(21, 47, 99, 0.9);
          color: #fff;
          opacity: 0;
          transition: opacity 0.3s ease-in; }
        .site-main ul li label span {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
        .site-main ul li label.close {
          display: none;
          font-size: 2em;
          width: 2em;
          height: 2em;
          line-height: 1;
          align-items: center;
          justify-content: center;
          transition: transform 0.3s ease-in-out;
          position: absolute;
          top: 2em;
          right: 8em;
          background: #000;
          color: #fff;
          z-index: 300;
          cursor: pointer; }
          @media (max-width: 1024px) {
            .site-main ul li label.close {
              top: 4em;
              right: 4em; } }
          @media (max-width: 768px) {
            .site-main ul li label.close {
              display: none; } }
          .site-main .trolleybuses .close {
            top: -8em;
            right: 8em; }
            @media (max-width: 1024px) {
              .site-main .trolleybuses .close {
                top: -5em;
                right: 4em; } }
          .site-main .trams .close {
            top: 0;
            right: 8em; }
            @media (max-width: 1024px) {
              .site-main .trams .close {
                top: 1em;
                right: 4em; } }
          .site-main .metro .close {
            top: -8em;
            right: 8em; }
            @media (max-width: 1024px) {
              .site-main .metro .close {
                top: -8em;
                right: 4em; } }
          .site-main ul li label.close:hover {
            transform: scale(1.1);
            outline: 0.2em solid #fff; }
      .site-main ul li input:checked ~ label.close {
        display: flex; }
        @media (max-width: 768px) {
          .site-main ul li input:checked ~ label.close {
            display: none; } }
      .site-main ul li input:checked ~ a {
        display: flex; }
        @media (max-width: 768px) {
          .site-main ul li input:checked ~ a {
            display: none; } }
      .site-main ul li a {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        height: 80vh;
        overflow: hidden;
        z-index: 100;
        box-shadow: 0 0 100vw 100vw rgba(0, 0, 0, 0.9);
        background: rgba(0, 0, 0, 0.9); }
        @media (max-width: 1024px) {
          .site-main ul li a {
            width: 70vw;
            height: 70vh; } }
        @media (max-width: 768px) {
          .site-main ul li a {
            width: 60vw;
            height: 50vh; } }
        .site-main ul li a span {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
          @media (max-width: 768px) {
            .site-main ul li a span {
              display: none; } }
        .site-main ul li a img {
          width: 100%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          @media (max-width: 768px) {
            .site-main ul li a img {
              display: none; } }
