<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.baseurl}}/css/site.css">
    {% if page.css %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pages/{{ page.css }}.css">
    {% endif %}
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</head>

<body>
    <div class="site">
        <input type="checkbox" id="hamburger_checkbox" name="hamburger_checkbox" class="hamburger_checkbox">
        <header class="site-header">
            <div class="wrapper">
                <a href="{{ site.baseurl }}/" class="site-logo">
                    <i class="fas fa-bus-alt"></i>
                    <p class="site-title">ГТ София</p>
                </a>
                <label for="hamburger_checkbox" class="hamburger_label"><p class="icon icon-hamburger"></p></label>
                <nav class="site-nav">
                    <ul>
                        {% assign nav = site.pages | sort:"order" %}
                        {% for item in nav %}
                        {% if item.title %}
                        <li {% if item.url == page.url %} class="selected" {% endif %}>
                            <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <section>
                <h1>Градски транспорт в София</h1>
                <p>Научете историята на софийския траспорт от самото начало!</p>
                <a href="{{ site.baseurl }}/history">Научи повече</a>
            </section>
        </header>
        <main class="site-main">
            {{content}}
        </main>
        <footer class="site-footer">
            <p><a href="{{ site.baseurl }}/" class="title">ГТ София</a> 2019 &copy; Всички права запазени.</p>
        </footer>
    </div>
</body>

</html>