<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.baseurl}}/css/site.css">
</head>

<body>
    <div class="site">
        <header class="site-header">
            <h1 class="site-title">
                <a href="{{ site.baseurl }}/">{{site.title}}</a>
            </h1>
            {% include navigation.html location="header" %}
        </header>
        <main class="site-main">
            {% if page.title %}
            <h1>{{page.title}}</h1>
            {% endif %}
            {{content}}
        </main>
        <footer class="site-footer">
            <p><a href="{{ site.baseurl }}/" class="title">{{site.title}}</a>2019 &copy; Всички права запазени.</p>
        </footer>
    </div>
</body>

</html>