@mixin mq($width) {
    @media screen and (max-width: $width){
        @content;
    }
}

.site{
    &-main{
        color: rgb(21, 47, 99);
        text-align: justify;

        h2{
            text-align: center;
            margin-top: 1rem;

            &:after{
                content: '';
                width: 100px;
                height: 2px;
                background-color: rgb(21, 47, 99);
                display: block;
                margin: 1rem auto;
            }
        }
        section{
            margin: 1rem auto;
            width: 90%;
            padding-bottom: 2rem;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;          

            

            li{
                list-style: none;
            }

            .social-icons{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .first-part{
                padding-right: 1.5rem;
                
                li{
                    padding: 0.3rem;
                }

                i{
                    width: 30px;
                }
            }

            .second-part{
                padding-left: 1.5rem;

                h4{
                    padding-bottom: 0.5rem;
                }

                li{
                    flex: 0 0 15%;
                    
                    a{
                        color: rgb(21, 47, 99);

                        &:hover{
                            color: rgb(107, 107, 107);
                        }
                    }
                }
            }
            @include mq(1024px){
                font-size: 18px;
            }
    
            @include mq(768px){
                font-size: 16px;
                .first-part{
                    width: 260px;
                    padding-right: 0;
                }
            }
            
            @include mq(480px) {
                display: block;
                font-size: 14px;
                padding-bottom: 0;
                .first-part{
                    width: 100%;
                    margin: 0 auto;
                    padding-right: 0;
                }
                h4{
                    text-align: center;
                    padding-top: 1rem;
                }
                .social-icons{
                    padding: 0;
                    width: 200px;
                    margin: 0 auto;
                }
                .second-part{
                    padding-left: 0;
                    li{
                        flex-basis: 10%;
                    }
                }
            }
        }
    }
}