@import '../mixins';

.site {
    &-main {
        color: var(--color-darkblue);
        max-width: 70em;
        margin: 0 auto;

        @include bp(laptop) {
            max-width: 80em;
            margin: 0 3.5rem;
        }

        @include bp(tablet) {
            margin: 0;
        }

        h2 {
            text-align: center;

            &:after {
                content: '';
                width: 100px;
                height: 2px;
                background-color: var(--color-darkblue);
                display: block;
                margin: 1rem auto;
            }
        }
        section {
            border-bottom: 1px solid rgb(189, 189, 189);
            margin: 1rem auto;
            padding-bottom: 2rem;

            @include bp(laptop) {
                font-size: var(--font-size-smaller);
                padding-bottom: 1.5rem;
            }
    
            @include bp(tablet) {
                font-size: var(--font-size-supersmall);
                padding-bottom: 1.2rem;
                width: 90%;
            }
    
            @include bp(phone) {
                font-size: 11px;
                padding-bottom: 0.7rem;
            }

            &:last-of-type {
                border: none;
            }

            p {
                padding: 0.5rem;
                @include bp(tablet) {
                    padding: 0.3rem;
                }
                @include bp(phone) {
                    padding: 0.2rem;
                }
            }

            .left {
                float: left;
                margin: 2em;

                @include bp(laptop) {
                    margin: 1em;
                }
        
                @include bp(tablet) {
                    margin: 0.6rem;
                }
        
                @include bp(phone) {
                    margin: 0.5rem;
                }
            }

            .right {
                float: right;
                margin: 2em;

                @include bp(laptop) {
                    margin: 1em;
                }
        
                @include bp(tablet) {
                    margin: 0.7rem;
                }
        
                @include bp(phone) {
                    margin: 0.5rem;
                }
            }

            img {
                @include bp(tablet) {
                    width: 150px;
                }
                @include bp(phone) {
                    width: 100px;
                }
            } 
        }
        .metro img {
            width: 200px;
            @include bp(tablet) {
                width: 150px;
            }
            @include bp(phone) {
                width: 100px;
            }
        }
    }
}