@mixin mq($width) {
    @media screen and (max-width: $width){
        @content;
    }
}

.site {
    &-main {
        color: rgb(21, 47, 99);
        max-width: 70em;
        margin: 0 auto;
        @include mq(1024px) {
            max-width: 80em;
            margin: 0 3.5rem;
        }

        @include mq(768px) {
            margin: 0;
        }

        h2 {
            text-align: center;

            &:after {
                content: '';
                width: 100px;
                height: 2px;
                background-color: rgb(21, 47, 99);
                display: block;
                margin: 1rem auto;
            }
        }
        section {
            border-bottom: 1px solid rgb(189, 189, 189);
            margin: 1rem auto;
            padding-bottom: 2rem;

            @include mq(1024px) {
                font-size: 14px;
                padding-bottom: 1.5rem;
            }
    
            @include mq(768px) {
                font-size: 12px;
                padding-bottom: 1.2rem;
                width: 90%;
            }
    
            @include mq(480px) {
                font-size: 11px;
                padding-bottom: 0.7rem;
            }

            &:last-of-type {
                border: none;
            }

            p {
                padding: 0.5rem;
                @include mq(768px) {
                    padding: 0.3rem;
                }
                @include mq(480px) {
                    padding: 0.2rem;
                }
            }

            .left {
                float: left;
                margin: 2em;

                @include mq(1024px) {
                    margin: 1em;
                }
        
                @include mq(768px) {
                    margin: 0.6rem;
                }
        
                @include mq(480px) {
                    margin: 0.5rem;
                }
            }

            .right {
                float: right;
                margin: 2em;

                @include mq(1024px) {
                    margin: 1em;
                }
        
                @include mq(768px) {
                    margin: 0.7rem;
                }
        
                @include mq(480px) {
                    margin: 0.5rem;
                }
            }

            img {
                @include mq(768px) {
                    width: 150px;
                }
                @include mq(480px) {
                    width: 100px;
                }
            } 
        }
        .metro img {
            width: 200px;
            @include mq(768px) {
                width: 150px;
            }
            @include mq(480px) {
                width: 100px;
            }
        }
    }
}