.site{
    &-main{
        .news-section{
            color: rgb(21, 47, 99);
            padding-top: 1rem;

            &:after{
                content: '';
                width: 700px;
                height: 1px;
                background-color: rgb(189, 189, 189);
                display: block;
                margin: 1rem auto;
            }

            h2{
                text-align: center;

                &:after{
                    content: '';
                    width: 100px;
                    height: 2px;
                    background-color: rgb(21, 47, 99);
                    display: block;
                    margin: 1rem auto;
                }
            }
            .news{
                display: flex;
                justify-content: space-around;

                li{
                    flex: 0 0 30%;
                    padding-bottom: 2rem;
                    list-style: none;

                    .date{
                        color: grey;
                        padding: 0.4rem 0;
                    }
                }
            }
            .action{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;

                a{
                    text-decoration: none;
                    cursor: pointer;
                    color: rgb(21, 47, 99);

                    i{
                        padding-left: 0.5rem;
                    }
                    &:hover{
                        text-decoration: underline;
                    } 
                }   
            }
        }
        .picofthemonth-section{
            h2{
                color: rgb(21, 47, 99);
                text-align: center;
            }
            .container{
                display: block;
                margin: 1.5rem auto;
                position: relative;
                width: 900px;
                img{
                    display: block;
                    margin: 1rem auto;
                    overflow: hidden;
                    width: 900px;
                    height: auto;
                }
                .overlay{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgba(0, 0, 0, 0.5);
                    width: 0;
                    height: 15%;
                    transition: width 0.5s ease-in;

                    .text{
                        opacity: 0;
                        color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;                      
                        transform: translate(-50%, -50%);
                    }
                }
                &:hover .overlay{
                    width: 100%;
                }
                &:hover .text{
                    opacity: 1;
                }
            }      
        }
        .newinsite-section{
            width: 100%;
            padding: 2rem 0;
            text-align: center;
            color: #fff;
            background: rgb(50, 88, 165);

            h2{
                padding-bottom: 1rem;
            }

            ul{
                display: block;
                width: 26%;
                margin: 0 auto;

                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    padding: 0.3em;
    
                    &:before{
                        font-family: 'Font Awesome 5 Free';
                        content: '\f00c';
                        display: block;
                        font-weight: 900;
                        color: #fff;
                        margin-right: 1em;
                    }
                }
            }
            
        }
        .subscribe-section {
            text-align: center;
            background: rgb(21, 47, 99);
            height: 220px;
            color: #fff;
            padding: 2.5rem 0;

            h2{
                &:after{
                    content: '';
                    width: 100px;
                    height: 2px;
                    background-color: #fff;
                    display: block;
                    margin: 1rem auto;
                }
            }
            input[type="email"]{
                margin-bottom: 0.5rem;
                margin-right: 0.3rem;
                border: none;
                border-radius: 0.2em;
                padding: 0.8rem 9rem 0.8rem 0.7rem;
                outline: none;
                background-color: #fff;
                color: #215AA0;
            }
            input[type="submit"]{
                background-color: #fff;
                color: #215AA0;
                border-radius: 0.2em;
                padding: 0.8rem 2.5rem;
                border: none;
                cursor: pointer;
                outline: none;
                font-weight: bold;
                margin-top: 1.2rem;
                margin-bottom: 2rem;
                transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

                &:hover{
                    background-color: rgb(107, 107, 107);
                    color: #fff;
                }
            }
        }
    }
}