@import '../mixins';

.site {
    &-main {
        .news-section {
            color: var(--color-darkblue);
            padding-top: 1rem;

            &:after {
                content: '';
                width: 80%;
                height: 1px;
                background-color: rgb(189, 189, 189);
                display: block;
                margin: 1rem auto;
            }

            h2 {
                text-align: center;

                &:after {
                    content: '';
                    height: 2px;
                    background-color: var(--color-darkblue);
                    display: block;
                    margin: 1rem auto;
                    animation: changehrwidth 2s ease-out;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                }
            }
            .news {
                display: flex;
                justify-content: space-around;  
                @include bp(tablet) {
                    flex-direction: column;
                }     
                li {
                    flex: 0 0 30%;
                    padding-bottom: 2rem;
                    list-style: none;

                    @include bp(tablet) {
                        border-bottom: 1px solid rgb(189, 189, 189);
                        margin: 0.2rem auto;
                        width: 80%;
                        padding-bottom: 0.5rem;
                        text-align: center;

                        h3 {
                            @include bp(laptop) {
                                font-size: var(--font-size-default);
                            }
                    
                            @include bp(tablet) {
                                font-size: 15px;
                            }
                        }
                        &:last-of-type {
                            border: none;
                        }
                    }
                    .date {
                        color: grey;
                        padding: 0.4rem 0;

                        @include bp(laptop) {
                            font-size: var(--font-size-supersmall);
                            padding: 0.3rem 0;
                        }
                
                        @include bp(tablet) {
                            font-size: 10px;
                            padding: 0.2rem 0;
                        }
                    }
                    .news-description {
                        @include bp(laptop) {
                            font-size: var(--font-size-smaller);
                        }
                
                        @include bp(tablet) {
                            font-size: var(--font-size-supersmall);
                        }
                    }
                }
            }
            .action {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;

                @include bp(laptop) {
                    font-size: var(--font-size-smaller);
                }
        
                @include bp(tablet) {
                    font-size: var(--font-size-supersmall);
                }

                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: var(--color-darkblue);

                    i {
                        padding-left: 0.5rem;
                    }
                    &:hover {
                        text-decoration: underline;
                    } 
                }   
            }
        }
        .picofthemonth-section {
            h2 {
                color: var(--color-darkblue);
                text-align: center;
            }
            .container {
                display: block;
                margin: 1.5rem auto;
                position: relative;
                width: 900px;

                @include bp(laptop) {
                    width: 600px;
                }
        
                @include bp(tablet) {
                    width: 400px;
                }

                @include bp(large-phone) {
                    width: 300px;
                }

                @include bp(phone) {
                    width: 200px;
                }
                
                img {
                    display: block;
                    margin: 1rem auto;
                    height: auto;
                    width: 900px;

                    @include bp(laptop) {
                        width: 600px;
                    }
            
                    @include bp(tablet) {
                        width: 400px;
                    }
    
                    @include bp(large-phone) {
                        width: 300px;
                    }
    
                    @include bp(phone) {
                        width: 200px;
                    }
                }
                .overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgba(0, 0, 0, 0.5);
                    width: 0;
                    height: 15%;
                    transition: width 0.5s ease-in;
                    @include bp(laptop) {
                        height: 25%;
                    }
            
                    @include bp(tablet) {
                        height: 35%;
                    }

                    @include bp(large-phone) {
                        height: 40%;
                    }

                    @include bp(phone) {
                        height: 45%;
                    }

                    .text {
                        text-align: center;
                        opacity: 0;
                        color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;                      
                        transform: translate(-50%, -50%);
                        @include bp(laptop) {
                            font-size: var(--font-size-supersmall);
                        }
                
                        @include bp(tablet) {
                            font-size: 11px;
                        }
    
                        @include bp(large-phone) {
                            font-size: 10px;
                        }
    
                        @include bp(phone) {
                            font-size: 9px;
                        }
                    }
                }
                &:hover .overlay {
                    width: 100%;
                }
                &:hover .text {
                    opacity: 1;
                }
            }      
        }
        .newinsite-section {
            width: 100%;
            padding: 2rem 0;
            text-align: center;
            color: #fff;
            background: rgb(50, 88, 165);

            h2 {
                padding-bottom: 1rem;
            }

            ul {
                display: block;
                width: 350px;
                margin: 0 auto;
        
                @include bp(tablet) {
                    width: 300px;
                }

                @include bp(phone) {
                    width: 250px;
                }

                @include bp(small-phone) {
                    width: 200px;
                }

                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    padding: 0.3em;

                    @include bp(laptop) {
                        font-size: var(--font-size-default);
                    }
        
                    @include bp(tablet) {
                        font-size: var(--font-size-smaller);
                    }

                    @include bp(phone) {
                        font-size: var(--font-size-supersmall);
                    }
    
                    &:before {
                        font-family: 'Font Awesome 5 Free';
                        content: '\f00c';
                        display: block;
                        font-weight: 900;
                        margin-right: 1em;
                        animation: changecolor 0.6s ease-out;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }
        .subscribe-section {
            text-align: center;
            background: var(--color-darkblue);
            color: #fff;
            padding-top: 2.5rem;
            padding-bottom: 0;

            h2 {
                &:after {
                    content: '';
                    height: 2px;
                    background-color: #fff;
                    display: block;
                    margin: 1rem auto;
                    animation: changehrwidth 2s ease-out;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                }
            }
            p {
                margin: 0 auto;
                @include bp(laptop) {
                    font-size: var(--font-size-default);
                    width: 90%;
                    padding-bottom: 1rem;
                }
    
                @include bp(tablet) {
                    font-size: var(--font-size-smaller);
                }

                @include bp(phone) {
                    font-size: var(--font-size-supersmall);
                }
            }
            input[type="email"] {
                margin-bottom: 0.5rem;
                margin-right: 0.3rem;
                border: none;
                border-radius: 0.2em;
                padding: 0.8rem 9rem 0.8rem 0.7rem;
                outline: none;
                background-color: #fff;
                color: #215AA0;

                @include bp(laptop) {
                    padding: 0.6rem 6rem 0.6rem 0.6rem;
                }
    
                @include bp(tablet) {
                    padding: 0.5rem 3rem 0.5rem 0.5rem;
                }

                @include bp(phone) {
                    padding: 0.3rem 1rem 0.3rem 0.3rem;
                    margin-bottom: 0;
                }
            }
            input[type="submit"] {
                background-color: #fff;
                color: #215AA0;
                border-radius: 0.2em;
                padding: 0.8rem 2.5rem;
                border: none;
                cursor: pointer;
                outline: none;
                font-weight: bold;
                margin-top: 1.2rem;
                margin-bottom: 2rem;
                transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
                
                @include bp(laptop) {
                    padding: 0.6rem 2.5rem;
                    margin-top: 1rem;
                    margin-bottom: 1.8rem;
                }
    
                @include bp(tablet) {
                    padding: 0.55rem 2.5rem;
                    font-size: var(--font-size-supersmall);
                }

                @include bp(phone) {
                    padding: 0.35rem 0.8rem;
                }

                &:hover {
                    background-color: var(--color-grey);
                    color: #fff;
                }
            }
        }
    }
}