@import '../mixins';

.site {
    &-main {
        color: var(--color-darkblue);
        text-align: center;
        margin: 1rem 0;

        h2 {
            text-align: center;

            &:after {
                content: '';
                height: 2px;
                background-color: var(--color-darkblue);
                display: block;
                margin: 1rem auto;
                animation: changehrwidth 2s ease-out;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }
        }

        li {
            border-bottom: 1px solid rgb(189, 189, 189);
            list-style: none;
            margin: 1rem auto;
            width: 80%;
            padding-bottom: 1rem;

            h3 {
                @include bp(laptop) {
                    font-size: var(--font-size-default);
                }
        
                @include bp(tablet) {
                    font-size: 15px;
                }
            }

            &:last-of-type {
                border: none;
            }

            .date {
                color: grey;
                padding: 0.4rem 0;

                @include bp(laptop) {
                    font-size: var(--font-size-supersmall);
                    padding: 0.3rem 0;
                }
        
                @include bp(tablet) {
                    font-size: 10px;
                    padding: 0.2rem 0;
                }
            }

            .news-description {
                @include bp(laptop) {
                    font-size: var(--font-size-smaller);
                }
        
                @include bp(tablet) {
                    font-size: var(--font-size-supersmall);
                }
            }
        }
    }
}