.site{
    &-main{
        color: rgb(21, 47, 99);
        text-align: center;
        margin: 1rem 0;

        h2{
            text-align: center;

            &:after{
                content: '';
                width: 100px;
                height: 2px;
                background-color: rgb(21, 47, 99);
                display: block;
                margin: 1rem auto;
            }
        }

        li{
            border-bottom: 1px solid rgb(189, 189, 189);
            list-style: none;
            margin: 1rem auto;
            width: 80%;
            padding-bottom: 1rem;

            &:last-of-type{
                border: none;
            }

            .date{
                color: grey;
                padding: 0.4rem 0;
            }
        }
    }
}