.site{
    &-main{
        margin: 1rem;
        color: rgb(21, 47, 99);
        h2{
            text-align: center;

            &:after{
                content: '';
                width: 100px;
                height: 2px;
                background-color: rgb(21, 47, 99);
                display: block;
                margin: 1rem auto;
            }
        }
        .vehicle-type{
            text-align: center;
            padding: 1.5rem;
        }
        ul{
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            grid-gap: 1em;
            grid-auto-flow: dense;
            justify-items: center;

            li{
                list-style: none;
                outline: 4px solid rgb(21, 47, 99);
                grid-column: span 3;
                display: flex;
                width: 100%;
                box-shadow: 0 0 0.6em 0.3em rgb(21, 47, 99);

                &:hover{
                    .img-description{ opacity: 1 };
                }
                input{
                    display: none;
                }

                label {
                    /*display: block;
                    position: relative;
                    overflow: hidden;
                    */

                    display: flex;
                    background: #fff;
                    position: relative;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 0.5em;
                    cursor: pointer;

                    img{
                        display: block;
                        height: auto;
                        object-fit: cover;
                        width: 90%;
                        height: auto;
                    }

                    .img-description{
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        padding: 10px;
                        background-color: rgba(21, 47, 99,0.9);
                        color: #fff;
                        opacity: 0;
                    }
        
                    span {
                        position: absolute;
                        top: 0; left: 0; right: 0; bottom: 0;
                    }
        
                    &:before {
                        display: block;
                        content: '';
                        /*padding-top: calc(50% - 1em);*/
                    }
        
                    &.close {
                        display: none;
                        font-size: 2em;
                        width: 2em;
                        height: 2em;
                        line-height: 1;
                        align-items: center;
                        justify-content: center;
                        transition: transform 0.3s ease-in-out;
                        position: fixed;
                        top: 1em; right: 1em;
                        background: #000;
                        color: #FFF;
                        z-index: 300;
                        cursor: pointer;
        
                        &:hover {
                            transform: scale(1.1);
                            outline: 0.5em solid #FFF;
                        }
                    }
                }
        
                input:checked ~ label {
                    
                    &.close {
                        display: flex;
                    }
                }
        
                input:checked ~ a {
                    display: flex;
                }
        
                a {
                    display: none;
                    position: fixed;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50vw;
                    height: 80vh;
                    overflow: hidden;
                    z-index: 100;
                    box-shadow: 0 0 100vw 100vw rgba(black, 0.9);
                    background: rgba(black, 0.9);
        
                    span {
                        position: absolute;
                        top: 0; left: 0; right: 0; bottom: 0;
                    }
        
                    img {
                        width: 100%;
                        height: auto;
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }        
            }
        }
    }
}