@mixin mq($width) {
    @media screen and (max-width: $width){
        @content;
    }
}

.site {
    &-main {
        margin: 1rem;
        color: rgb(21, 47, 99);
        h2 {
            text-align: center;

            &:after {
                content: '';
                width: 100px;
                height: 2px;
                background-color: rgb(21, 47, 99);
                display: block;
                margin: 1rem auto;
            }
        }
        .vehicle-type {
            text-align: center;
            padding: 1.5rem;
        }
        ul {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 2em;
            grid-auto-flow: dense;
            justify-items: center;
            position: relative;

            @include mq(768px) {
                grid-template-columns: repeat(8, 1fr);
            }

            li {
                list-style: none;
                outline: 4px solid rgb(21, 47, 99);
                grid-column: span 3;
                display: flex;
                box-shadow: 0 0 0.6em 0.3em rgb(21, 47, 99);

                @include mq(768px) {
                    grid-column: span 4;
                }
    
                @include mq(480px) {
                    grid-column: span 8;
                }

                &:hover {
                    .img-description{ opacity: 1 };
                }
                input {
                    display: none;
                }

                label {
                    overflow: hidden;
                    display: flex;
                    background: #fff;
                    position: relative;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 0.5em;
                    cursor: pointer;

                    img {
                        display: block;
                        height: auto;
                        object-fit: cover;
                        width: 90%;
                        height: auto;
                    }

                    .img-description {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        padding: 10px;
                        background-color: rgba(21, 47, 99,0.9);
                        color: #fff;
                        opacity: 0;
                        transition: opacity 0.3s ease-in;
                    }
        
                    span {
                        position: absolute;
                        top: 0; left: 0; right: 0; bottom: 0;
                    }
        
                    &.close {
                        display: none;
                        font-size: 2em;
                        width: 2em;
                        height: 2em;
                        line-height: 1;
                        align-items: center;
                        justify-content: center;
                        transition: transform 0.3s ease-in-out;
                        position: absolute;
                        top: 4em; right: 8em;
                        background: #000;
                        color: #fff;
                        z-index: 300;
                        cursor: pointer;

                        @at-root .site-main{
                            .trolleybuses .close {
                                top: -8em; right: 8em;

                                @include mq(1024px) {
                                    top: -4em; right: 4em;
                                }
                    
                                @include mq(768px) {
                                    top: -2em; right: 4em;
                                }
                
                                @include mq(480px) {
                                    top: 10em; right: 2em;
                                }
                            }
                        }
                        @at-root .site-main{
                            .trams .close {
                                top: 0; right: 8em;
                                @include mq(1024px) {
                                    top: 2em; right: 4em;
                                }
                    
                                @include mq(768px) {
                                    top: 12em; right: 4em;
                                }
                                @include mq(480px) {
                                    top: 10em; right: 2em;
                                }
                            }
                        }
                        @at-root .site-main{
                            .metro .close {
                                top: -8em; right: 8em;
                            }
                        }
        
                        &:hover {
                            transform: scale(1.1);
                            outline: 0.2em solid #fff;
                        }
                    }
                }
        
                input:checked ~ label {
                    
                    &.close {
                        display: flex;
                    }
                }
        
                input:checked ~ a {
                    display: flex;
                }
        
                a {
                    display: none;
                    position: absolute;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                    width: 60vw;
                    height: 80vh;
                    overflow: hidden;
                    z-index: 100;
                    box-shadow: 0 0 100vw 100vw rgba(black, 0.9);
                    background: rgba(black, 0.9);

                    @include mq(1024px) {
                        width: 70vw;
                        height: 70vh;
                    }
            
                    @include mq(768px) {
                        width: 60vw;
                        height: 50vh;
                    }

                    @include mq(640px) {
                        width: 70vw;
                        height: 40vh;
                    }
    
                    @include mq(480px) {
                        width: 80vw;
                        height: 30vh;
                    }
        
                    span {
                        position: absolute;
                        top: 0; left: 0; right: 0; bottom: 0;
                    }
        
                    img {
                        width: 100%;
                        height: auto;
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }        
            }
        }
    }
}