@keyframes changeform {
    from {
        border-radius: 20rem;
    }

    to {
        border-radius: 0;
    }
}

@keyframes changehrwidth {
    from {
        width: 150px;
    }

    to {
        width: 50px;
    }
}

@keyframes changecolor {
    from {
        color: #fff;
    }

    to {
        color: rgb(0, 190, 0);
    }
}