@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    font-family: var(--font-family-default);
}

@media (max-width: 600px) {
    html {
        font-size: var(--font-size-supersmall);
    }
}

@media (max-width: 1024px) {
    html {
        font-size: var(--font-size-smaller);
    }
}

@media (max-width: 1600px) {
    html {
        font-size: var(--font-size-default);
    }
}