.site{
    &-header {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/solaris-new.jpg') no-repeat;
        background-size: cover;
        background-position: 3% 97%;
        padding: 1rem 0;
        text-shadow: 1px 3px 3px rgb(31, 31, 31);
        height: 450px;
        color: #fff;
        letter-spacing: 0.1em;

        .wrapper{
            display: flex;
            width: 92%;
            margin: 0 auto;
            align-items: center;
            font-size: 20px;
            .site-logo {
                align-items: center;
                display: flex;
                color: #fff;
                width: 15%;
                padding: 1em 0;
                text-decoration: none;
                letter-spacing: 0.1em;
                
                i {
                    font-size: 30px;
                    padding-right: 1rem;
                }
            } 
        }

        section {
            display: block;
            text-align: center;
            h1 {
                font-size: 50px;
                padding-bottom: 0.3em;
                padding-top: 4rem;
            }
            p {
                font-size: 20px;
                width: 35%;
                margin: 0 auto;
                margin-bottom: 2.5rem;
            }
            a{
                color: white;
                background-color: rgb(21, 47, 99);
                border-radius: 1.5rem;
                padding: 0.8rem 2.7rem;
                text-decoration: none;
                border: none;
                cursor: pointer;
                outline: none;
                font-weight: bold;
                margin-top: 0.8rem;
                margin-bottom: 2rem;
                transition: background-color 0.4s ease-in-out;
                &:hover{
                    background-color: rgb(107, 107, 107);
                }
            }
        }
    }
    &-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
            margin-left: auto;
            li{
                list-style-type: none;
                margin-right: 3.5rem;

                a{
                    letter-spacing: 0.15em;
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    padding-bottom: 0.5rem;
                    
                    &:hover{
                        border-bottom: 1px solid white;
                    }
                }
            }
            .selected a{
                border-bottom: 1px solid white;
            }
        }
    }
}