.site{
    &-footer {
        background: var(--color-darkblue);
        text-align: center;
        color: white;
        padding: 1em 0;
        a {
            color: white;
            text-decoration: none;
        }
        @include bp(laptop) {
            font-size: var(--font-size-default);
        }

        @include bp(tablet) {
            font-size: var(--font-size-smaller);
        }

        @include bp(phone) {
            font-size: var(--font-size-supersmall);
        }
    }

}
