.site{
    &-footer {
        background: rgb(21, 47, 99);
        text-align: center;
        color: white;
        padding: 1em 0;
        a{
            color: white;
            text-decoration: none;
        }
        @include mq(1024px){
            font-size: 16px;
        }

        @include mq(768px){
            font-size: 14px;
        }

        @include mq(480px){
            font-size: 12px;
        }
    }

}
