.site{
    &-nav {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        align-items: center;
        ul{
            display: flex;
            margin: 0 auto;
            width: 100%;
            li{
                display: block;
                list-style-type: none;
                margin-right: 3.5rem;
                padding: 0.5rem 0;
                opacity: 0;
                transform: translateX(-1em);
                transition: opacity 0.3s ease-in, transform 0.3s ease-in-out;

                @at-root body.loaded{
                    .site-nav li{
                        opacity: 1;
                        transform: translateX(0);
                    }
                }

                @for $i from 1 through 5{
                    &:nth-child(#{$i}){
                        transition-delay: $i * 0.1s + 0.4s;
                    }
                }

                a {
                    letter-spacing: 0.15em;
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    padding-bottom: 0.5rem;
                    
                    &:hover{
                        border-bottom: 1px solid white;
                    }
                }
            }
            .selected a {
                border-bottom: 1px solid white; 
            }  
        }
    }
}