:root {
    --font-size-supersmall: 12px;
    --font-size-smaller: 14px;
    --font-size-default: 16px;
    --font-size-larger: 18px;
    --line-height-default: 1.5;
    --font-family-default: 'Roboto', sans-serif;

    --color-darkblue: rgb(21, 47, 99);
    --color-blue: rgb(50, 88, 165);
    --color-grey: rgb(107, 107, 107);
    --color-darkblue-gallery: rgb(0, 18, 53);
}